<form name="bessing" action="/dom_glancy/bless" method="POST">
  <p><input type="checkbox" name="delete_on_bless" value='true' checked>Remove difference files on blessing</p>
  <input type="submit" value="Bless these differences">
  <input type="hidden" name="option_1" value="<%= @test_root %>" />
</form>

<table class="dg--dom_review_table">
  <tr>
    <td>
      <% contents = File.read(File.join(DomGlancy.configuration.diff_file_location, "#{@file_diff}")) %>
      <%= raw(contents) %>
    </td>
    <td>
      <% elements = YAML::load_file(File.join(DomGlancy.configuration.diff_file_location, @file_set_not_master)) %>
      <h2><span class="hideable" id="not_master_toggle">+</span> Not in Master [<%= elements.count %>]</h2>
      <%= render :partial => "shared/dom_set", :locals => {:elements => elements, :finder_id => 'js--not_master'} %>

      <% elements = YAML::load_file(File.join(DomGlancy.configuration.diff_file_location, @file_set_not_current)) %>
      <h2><span class="hideable" id="not_current_toggle">+</span> Not in Current [<%= elements.count %>]</h2>
      <%= render :partial => "shared/dom_set", :locals => {:elements => elements, :finder_id => 'js--not_current'} %>

      <% elements = YAML::load_file(File.join(DomGlancy.configuration.diff_file_location, @file_set_changed)) %>
      <h2><span class="hideable" id="changed_toggle">+</span> Changed [<%= elements.count %>]</h2>
      <%= render :partial => "shared/dom_set", :locals => {:elements => elements, :finder_id => 'js--changed'} %>
    </td>
  </tr>
</table>
