<!DOCTYPE html>
<html>
<head>
  <title>DOM Glancy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <%= stylesheet_link_tag 'dom_glancy/normalize.css', :media => 'all' %>
  <%= stylesheet_link_tag 'dom_glancy/720_grid.css',  :media => 'screen and (min-width: 720px)' %>
  <%= stylesheet_link_tag 'dom_glancy/986_grid.css',  :media => 'screen and (min-width: 986px)' %>
  <%= stylesheet_link_tag 'dom_glancy/1236_grid.css', :media => 'screen and (min-width: 1236px)' %>
  <%= stylesheet_link_tag 'dom_glancy/dom_glancy',    :media => 'all' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => 'shared/dom_glancy_nav' %>

  <%= yield %>
  <%= javascript_include_tag 'dom_glancy/dom_glancy' %>
</body>
</html>
