<!DOCTYPE html>
<html>
<head>
  <title>DOM Glancy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <%= stylesheet_link_tag 'normalize.css', :media => 'all' %>
  <%= stylesheet_link_tag '720_grid.css',  :media => 'screen and (min-width: 720px)' %>
  <%= stylesheet_link_tag '986_grid.css',  :media => 'screen and (min-width: 986px)' %>
  <%= stylesheet_link_tag '1236_grid.css', :media => 'screen and (min-width: 1236px)' %>
  <%= stylesheet_link_tag 'dom_glancy',    :media => 'all' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <h1>DOM Glancy</h1>
  <h2 class="caramel"><%= @parent_application_name %> {<span id="js-kr--gem_rev"><%= @gem_version %></span>}</h2>

  <%= render :partial => 'shared/dom_glancy_nav' %>

  <%= yield %>

  <!--<ul class="tab_list">-->
    <!--<li class="tab"><span class="hideable" id="changed_toggle">+</span> one</li>-->
    <!--<li class="tab">two</li>-->
    <!--<li class="tab">three</li>-->
    <!--<li class="tab tab_active">four</li>-->
    <!--<li class="tab">five</li>-->
  <!--</ul>-->

  <%= javascript_include_tag 'application' %>
</body>
</html>
