<!DOCTYPE html>
<html>
<head>
  <title>Kracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  <%= javascript_include_tag "application.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Kracker</h1>
<h2><%= @parent_application_name %> {<%= @kracker_gem_version %>}</h2>

<%= yield %>

</body>
</html>